@import 'variables.scss';

.status-container {
  display: flex;
  padding-top: 12px;

  .status-label {
    width: 160px;
    color: $font-color-dark-grey;
  }

  .status-ethernet-container {
    flex: 1 0 100px;

    .status-toogle-button {
      display: flex;
      align-items: center;
    }

    .ethernet-connection-status {
      padding-top: 15px;
      padding-left: 7px;
    }
  }
}

.icon-center {
  display: inline;
  padding-right: 12px;
  padding-top: 2px;
}

.ethernet-disabled {
  filter: invert(0.8);
}
