<div class="network-password-container setting-row">
  <label>Password</label>
  <div [ngClass]="{ 'error-spacing': isInValid() }">
    <div class="textbox-container">
      <input
        appAutoFocus
        [formControl]="formControl"
        [type]="inputType"
        [ngClass]="{ 'error-state': isInValid() }"
        maxlength="{{ maxLength }}"
      />
    </div>
    <div *ngIf="isInValid()" class="error-message">
      {{ defaultErrorMessage }}
    </div>
  </div>
</div>

<div class="checkbox-container">
  <mat-checkbox (change)="onCheckShowPassword()">Show password</mat-checkbox>
</div>
