.password-reset-container {
  padding-bottom: 14px;
  .password-info-container {
    padding: 5px 0px 1px 1px;
    img {
      margin: 0px 4px 0px 2px;
    }
  }
  .password-field {
    margin: 18px 0px 18px 35px;
  }
  .confirm-password-field {
    padding-left: 35px;
  }
}
