<div class="password-reset-container">
  <div class="password-info-container">
    <span>Passwords must contain:</span>
    <div>
      <img
        [src]="getIconOnValidation('minlength') && getIconOnValidation('required') ? regExPassIcon : regExFailIcon"
      /><span>8-12 characters</span>
    </div>
    <div>
      <img [src]="getIconOnValidation('hasAlphabet') ? regExPassIcon : regExFailIcon" /><span
        >An upper and lowercase letter</span
      >
    </div>
    <div><img [src]="getIconOnValidation('hasNumber') ? regExPassIcon : regExFailIcon" /><span>A number</span></div>
    <div>
      <img [src]="getIconOnValidation('hasSpeChar') ? regExPassIcon : regExFailIcon" /><span>A special character</span>
    </div>
  </div>
  <div class="password-field">
    <label>New Password</label>
    <app-text-field-textbox
      appAutoFocus
      [uuid]="passwordConstant.PASSWORD"
      [isRequired]="isRequired"
      [parentForm]="formGroup"
      type="password"
      [regEx]="regEx"
      [maxLength]="maxLength"
      [errorMessage]="passwordFormatMsg"
    ></app-text-field-textbox>
  </div>
  <div class="confirm-password-field" [ngClass]="{ 'text-field-invalid': isInvalid() }">
    <label>Confirm Password</label>
    <app-text-field-textbox
      [uuid]="passwordConstant.CONFIRM_PASSWORD"
      [isRequired]="isRequired"
      [showError]="false"
      [parentForm]="formGroup"
      type="password"
      [maxLength]="maxLength"
    ></app-text-field-textbox>
    <div *ngIf="isInvalid()" class="error-message">
      {{ passwordMatchMsg }}
    </div>
  </div>
</div>
