label {
  margin-bottom: 6px;
}
.setting-row {
  margin-top: 14px;
}
.security {
  margin-bottom: 14px;
}
.container {
  max-height: 418px;
  overflow: hidden;
  width: 106%;
}
.eap-settings {
  padding-right: 0px;
}
.eap-container {
  overflow-y: scroll;
}
