.user-access-container {
  h6 {
    padding: 4px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    line-height: 18px;
  }
}

.video-controls {
  margin-top: 16px;
}

.audio-controls {
  margin-top: 24px;
}

.network-controls {
  margin-top: 24px;
}

.web-network-controls {
  margin-bottom: 4%;
}

.slide-toggle {
  padding: 8px 0px 8px 0px;
}
