@import 'functions.scss';

$windows-width: 529px; // 480
$windows-height: 600px;

$button-width: 40px;
$button-height: 40px;
$color-concrete: #f3f3f3;
$light-correction-on: 'assets/images/svg/low-light-correct/ic-brightness-on.svg';
$light-correction-on-hover: 'assets/images/svg/low-light-correct/ic-brightness-on-hover.svg';
$light-correction-off: 'assets/images/svg/low-light-correct/ic-brightness-off.svg';
$light-correction-off-hover: 'assets/images/svg/low-light-correct/ic-brightness-off-hover.svg';
$font-color-black: #000000;
$font-color-dark-grey: #525252;
$font-color-blue: #0075db;
$background-color-brown-grey: #a4a4a4;
$color-very-light-pink-two: #d5d5d5;
$color-white: #ffffff;
$color-dark-grey: #272727;
$color-alabaster: #bebebe;
$color-silver: #cccccc;
$color-grey: #242424;
$color-grey-two: #fcfcfc;
$color-light-grey: #e0e0e0;
$color-bosewhite: #f8f8f8;
$color-black-two: #3a3a3a;
$color-overlay: #575757;
$color-bose-black-diasbled: rgba(0, 0, 0, 0.38);
$color-very-light-grey: #eaeaea;
$color-brown-grey: #aaaaaa;
$color-medium-grey: #777777;
$bright-red: #d0312e;
$creamy-white: #fafafa;
$color-brownish-grey: #6c6c6c;
$color-loader-background: rgba(255, 255, 255, 0.6);
$background-color-grey: #6c6c6c;
$shadow-color-black: rgba(2, 2, 2, 0.8);
$background-black: rgba(39, 39, 39, 0.8);
$background-dark-red: rgba(150, 0, 0, 0.8);
$background-blue: rgba(0, 123, 180, 0.8);
$background-orange: rgba(187, 59, 0, 0.8);
$color-light-blue: #0075db;
$color-light-gray: #f8f8f8;
$color-dark-white: #e4e4e4;
$color-light-grey-blur: #a5a5a5;
$color-green-blue: #00ab71;
$very-light-pink-nine: #d7d7d7;
$cement-grey: #979797;
$border-blue: #6da0f9;
